<div class="page-title mat-elevation-z6">
  <h1>User List</h1>
  <button mat-flat-button color="accent" [routerLink]="['/userregister']" title="Add User">Add User</button>
</div>



<div class="page-content">

  <div class="table-res">

    <table mat-table [dataSource]="userList" class="mat-elevation-z8">

      <ng-container matColumnDef="srNo">
        <th mat-header-cell *matHeaderCellDef> Sr .No. </th>
        <td mat-cell *matCellDef="let user;  let i= index"> {{i + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let user"> {{user.userName | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="userGender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let user"> {{user.userGender | titlecase}} </td>
      </ng-container>

      <ng-container matColumnDef="userCity">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let user"> {{user.userCity | titlecase}} </td>
      </ng-container>


      <ng-container matColumnDef="userAddress">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let user"> {{user.userAddress | titlecase}} </td>
      </ng-container>


      <ng-container matColumnDef="userMobile">
        <th mat-header-cell *matHeaderCellDef> Mobile </th>
        <td mat-cell *matCellDef="let user"> {{user.userMobile}} </td>
      </ng-container>

      <ng-container matColumnDef="userCheck">
        <th mat-header-cell *matHeaderCellDef> Checked </th>
        <td mat-cell *matCellDef="let user"> {{user.userCheck}} </td>
      </ng-container>

      <ng-container matColumnDef="userEmail">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.userEmail | lowercase}} </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button title="edit data" color="primary" [routerLink]="['/userupdate',user.userId]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-raised-button (click)="openDialog()" [routerLink]="['/viewuser',user.userId]">Pick one</button>

          <button mat-icon-button title="view" color="accent" [routerLink]="['/viewuser',user.userId]">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button title="delete data" color="warn" (click)="delete(user.userId)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

  </div>

  <button mat-raised-button (click)="openDialog()">Pick one</button>


</div>