<div class="page-title mat-elevation-z6">
    <h1>Update User</h1>
</div>

<form class="form-div">

    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="userObj.userName" name="userName" pattern="[a-zA-Z]+$" type="text" #userName="ngModel" required ngModel placeholder="Name">
        <mat-error *ngIf="userName.invalid">Please enter valid input</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <mat-select [(ngModel)]="userObj.userCity" name="userCity" type="text" #userCity="ngModel" required ngModel>
            <mat-option value="surat">Surat</mat-option>
            <mat-option value="ahemdabad">Ahemdabad</mat-option>
            <mat-option value="vadodara">Vadodara</mat-option>
            <mat-option value="rajkot">Rajkot</mat-option>
            <mat-option value="bhavnagar">Bhavnagar</mat-option>
        </mat-select>
        <mat-error *ngIf="userCity.invalid">Please select any</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Favorite Color</mat-label>
        <mat-select [(ngModel)]="userObj.userColor" name="userColor" #userColor="ngModel" required ngModel>
            <mat-option value="red">Red</mat-option>
            <mat-option value="green">Green</mat-option>
            <mat-option value="pink">Pink</mat-option>
            <mat-option value="blue">Blue</mat-option>
        </mat-select>
        <mat-error *ngIf="userColor.invalid">Please select any</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Mobile</mat-label>
        <input matInput [(ngModel)]="userObj.userMobile" placeholder="9876543210" pattern="(\+\d{1,3}[- ]?)?\d{10}$" name="userMobile" type="tel" #userMobile="ngModel" required ngModel>
        <mat-error *ngIf="userMobile.invalid ">Please enter valid input</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="userObj.userEmail" email placeholder="name@example.com" name="userEmail" type="text" required #userEmail="ngModel" ngModel>
        <mat-error *ngIf="userEmail.invalid">Please enter valid email</mat-error>
    </mat-form-field>
    <div class="cta">
        <button mat-icon-button title="back" color="primary" [routerLink]="['/userlisting']">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>

        <button mat-flat-button title="update data" color="accent" (click)="updateUser()" [routerLink]="['/userlisting']">Update</button>
    </div>
</form>