<div class="page-title mat-elevation-z6">
    <h1>User Registration</h1>
    <button mat-flat-button title="user list" color="accent" [routerLink]="['/userlisting']">User List</button>

</div>

<mat-card class="form-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"><mat-icon>person</mat-icon></div>
        <mat-card-title>Complete Your Registration</mat-card-title>
        <!-- <mat-card-subtitle>------</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
        <form class="form-div" #regForm="ngForm">

            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="userObj.userName" name="userName" pattern="[a-zA-Z]+$" type="text" #userName="ngModel" required ngModel placeholder="Name">
                <mat-error *ngIf="userName.invalid">Please enter valid input</mat-error>
            </mat-form-field>

            <span class="gender-span">
                <mat-label>Your Gender:</mat-label>
                <mat-radio-group aria-label="Select an option" [(ngModel)]="userObj.userGender" name="userGender" #userGender="ngModel" required ngModel>
                    <mat-radio-button value="male">Male</mat-radio-button>
                    <mat-radio-button value="female">Female</mat-radio-button>
                    <mat-radio-button value="other">Other</mat-radio-button>
                    <!-- <mat-error *ngIf="userGender.invalid">Please choose your Gender</mat-error> -->
                </mat-radio-group>
            </span>


            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <mat-select [(ngModel)]="userObj.userCity" name="userCity" type="text" #userCity="ngModel" required ngModel>
                    <mat-option value="surat">Surat</mat-option>
                    <mat-option value="ahemdabad">Ahemdabad</mat-option>
                    <mat-option value="vadodara">Vadodara</mat-option>
                    <mat-option value="rajkot">Rajkot</mat-option>
                    <mat-option value="bhavnagar">Bhavnagar</mat-option>
                </mat-select>
                <mat-error *ngIf="userCity.invalid">Please select any</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <textarea matInput [(ngModel)]="userObj.userAddress" pattern="^[^\s]+(\s.*)?$" name="userAddress" #userAddress="ngModel" type="text" ngModel placeholder="Address" required></textarea>
                <mat-error *ngIf="userAddress.invalid">Please enter valid input</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Mobile</mat-label>
                <input matInput [(ngModel)]="userObj.userMobile" placeholder="9876543210" pattern="(\+\d{1,3}[- ]?)?\d{10}$" name="userMobile" type="tel" #userMobile="ngModel" required ngModel>
                <mat-error *ngIf="userMobile.invalid ">Please enter valid input</mat-error>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="userObj.userEmail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="name@example.com" name="userEmail" type="text" required #userEmail="ngModel" ngModel>
                <mat-error *ngIf="userEmail.invalid">Please enter valid email</mat-error>
            </mat-form-field>
            <mat-checkbox [(ngModel)]="userObj.userCheck" class="example-margin" name="userCheck" #userMobile="ngModel" ngModel>Check me!</mat-checkbox>
        </form>

    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button title="submit data" color="accent" (click)="saveUser()" [routerLink]="['/userlisting']" [disabled]="regForm.invalid">Submit</button>

        <!-- <button mat-button>LIKE</button> -->
        <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
</mat-card>






<!-- <form class="form-div" #regForm="ngForm">

    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="userObj.userName" name="userName" pattern="[a-zA-Z]+$" type="text" #userName="ngModel" required ngModel placeholder="Name">
        <mat-error *ngIf="userName.invalid">Please enter valid input</mat-error>
    </mat-form-field>

    <span class="gender-span">
        <mat-label>Your Gender:</mat-label>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="userObj.userGender" name="userGender" #userGender="ngModel" required ngModel>
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
            <mat-radio-button value="other">Other</mat-radio-button>
            <mat-error *ngIf="userGender.invalid">Please choose your Gender</mat-error>
        </mat-radio-group>
    </span>


    <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <mat-select [(ngModel)]="userObj.userCity" name="userCity" type="text" #userCity="ngModel" required ngModel>
            <mat-option value="surat">Surat</mat-option>
            <mat-option value="ahemdabad">Ahemdabad</mat-option>
            <mat-option value="vadodara">Vadodara</mat-option>
            <mat-option value="rajkot">Rajkot</mat-option>
            <mat-option value="bhavnagar">Bhavnagar</mat-option>
        </mat-select>
        <mat-error *ngIf="userCity.invalid">Please select any</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <textarea matInput [(ngModel)]="userObj.userAddress" name="userAddress" #userAddress="ngModel" type="text" ngModel placeholder="Address" required></textarea>
        <mat-error *ngIf="userAddress.invalid">Please enter valid input</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Mobile</mat-label>
        <input matInput [(ngModel)]="userObj.userMobile" placeholder="9876543210" pattern="(\+\d{1,3}[- ]?)?\d{10}$" name="userMobile" type="tel" #userMobile="ngModel" required ngModel>
        <mat-error *ngIf="userMobile.invalid ">Please enter valid input</mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="userObj.userEmail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="name@example.com" name="userEmail" type="text" required #userEmail="ngModel" ngModel>
        <mat-error *ngIf="userEmail.invalid">Please enter valid email</mat-error>
    </mat-form-field>


    <div class="cta">
        <mat-checkbox [(ngModel)]="userObj.userCheck" class="example-margin" name="userCheck" #userMobile="ngModel" ngModel>Check me!</mat-checkbox>

        <button mat-flat-button title="submit data" color="accent" (click)="saveUser()" [routerLink]="['/userlisting']" [disabled]="regForm.invalid">Submit</button>
    </div>

</form> -->