<div class="page-title mat-elevation-z6">
    <h1>View User Details</h1>
    <button mat-flat-button title="user list" color="accent" [routerLink]="['/userlisting']">User List</button>
</div>

<form class="form-div">

    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="userObj.userName" name="userName" type="text" readonly>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput [(ngModel)]="userObj.userCity" name="userCity" type="text" readonly>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Favorite Color</mat-label>
        <input matInput [(ngModel)]="userObj.userColor" name="userColor" type="text" readonly>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Mobile</mat-label>
        <input matInput [(ngModel)]="userObj.userMobile" name="userMobile" readonly>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="userObj.userEmail" name="userEmail" type="text" readonly>
    </mat-form-field>

</form>