/* You can add global styles to this file, and also import other style files */
// @import url(./node_modules/bootstrap/scss/bootstrap.scss);


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: azure;}

.page-title{background-color: #9c27b0;position: sticky;z-index: 10;top: 0;color: aliceblue;display: flex;align-items: center;justify-content: center;padding: 20px ;
    h1{margin: 0;}
    button{margin-left: auto;}
}
.page-content{padding: 50px 20px;
    th{ background-color: beige; color: indigo; font-size: 20px; text-align: center; }}
mat-form-field{max-width: 400px;width: 100%;margin-top: 5px;}
.form-div{display: flex;flex-direction: column;align-items: center;margin-top: 40px;}
table th.mat-header-cell,table td.mat-cell,table td.mat-footer-cell{padding: 0 30px;}
table th.mat-column-Action.mat-header-cell{padding: 0 40px;}
.cta ,.gender-span{display: flex;max-width: 400px;width: 100%;align-items: center;justify-content: space-between;margin: 6px 0 20px;}
.mat-table{width: 100%;white-space: nowrap;}
tr.mat-row:hover {background: whitesmoke;}
.mat-cell, .mat-footer-cell{color: #000000;font-size: 16px;}
.table-res{overflow-y: hidden}
.gender-span{display: flex;max-width: 400px;width: 100%;align-items: center;justify-content: space-between;margin: 6px 0 20px;
    mat-radio-group{display: inline-flex;justify-content: space-between;width: 60%;}}

