<div class="page-title mat-elevation-z6">
    <h1 mat-dialog-title>Details of {{data.name}}</h1>
</div>

<div mat-dialog-content>
    <span>
        <h3>Name:</h3>
        <p>{{data.name}}</p>
    </span>
    <span>
        <h3>Email:</h3>
        <p> {{data.email}}</p>
    </span>
    <span>
        <h3>City:</h3>
        <p>{{data.city}}</p>
    </span>
    <span>
        <h3>Address:</h3>
        <p> {{data.add}}</p>
    </span>
    <span>
        <h3>Mobile:</h3>
        <p>{{data.mob}}</p>
    </span>
    <span>
        <h3>Check:</h3>
        <p> {{data.checked}}</p>
    </span>
</div>

<div mat-dialog-actions>
    <button mat-button cdkFocusInitial mat-dialog-close (click)="onClose">Ok</button>
</div>