<h1 mat-dialog-title>Hi </h1>
<div mat-dialog-content>
    <p>What's your favorite animal?</p>
    <!-- <p>Name: {{userObj.userName}}</p>
    <p>Gender: {{userObj.userGender}}</p>
    <p>City: {{userObj.userCity}}</p>
    <p>Address: {{userObj.userAddress}}</p>
    <p>Mobile: {{userObj.userMobile}}</p>
    <p>Check: {{userObj.userCheck}}</p>
    <p>Email: {{userObj.userEmail}}</p> -->
    {{op}}
</div>
<div mat-dialog-actions>
    <button mat-button>No Thanks</button>
    <button mat-button mat-dialog-close>Ok</button>
</div>